/MachineKeyGenerate/.vs/MachineKeyGenerate/v15/.suo
/MachineKeyGenerate/.vs/MachineKeyGenerate/v15/Server/sqlite3/db.lock
/MachineKeyGenerate/.vs/MachineKeyGenerate/v15/Server/sqlite3/storage.ide
/MachineKeyGenerate/.vs/MachineKeyGenerate/v15/Server/sqlite3/storage.ide-shm
/MachineKeyGenerate/.vs/MachineKeyGenerate/v15/Server/sqlite3/storage.ide-wal
/MachineKeyGenerate/MachineKeyGenerate/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MachineKeyGenerate/MachineKeyGenerate/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MachineKeyGenerate/MachineKeyGenerate/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MachineKeyGenerate/MachineKeyGenerate/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MachineKeyGenerate/MachineKeyGenerate/bin/Debug/GenenreateMahineKey.txt
/MachineKeyGenerate/MachineKeyGenerate/bin/Debug/MachineKeyGenerate.exe
/MachineKeyGenerate/MachineKeyGenerate/bin/Debug/MachineKeyGenerate.pdb
/MachineKeyGenerate/MachineKeyGenerate/obj/Debug/MachineKeyGenerate.csproj.FileListAbsolute.txt
